<section id="login">
  <div class="loginContent">
    <div class="img">
      <img src="../../assets/Sign up-cuate.png" alt="">
    </div>
    <form class="form">
      <div class="logo"><img src="../../assets/logo.png" alt=""></div>
      <mat-form-field class="txt">
        <mat-label>Login</mat-label>
        <input type="text" matInput>
      </mat-form-field>
      <mat-form-field class="txt">
        <mat-label>Senha</mat-label>
        <input type="password" matInput>
      </mat-form-field>
      <button class="btn" mat-raised-button>Login</button>
    </form>
  </div>
</section>
