#login{
  background-image: linear-gradient(180deg, #055ea8 50%, white 50%);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginContent{
  width: 60%;
  height: auto;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.123);
}
.img{
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img img{
  width: 100%;
}
.form{
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img{
  width: 30%;
}
.txt, .btn{
  width: 60%;
}
.btn{
  background-color: #055ea8;
  color: #fff;
}
.btn:hover{
  background-color: #054070;
}

@media (max-width: 900px){
  .loginContent{
    flex-direction: column;
   }
   .form{
    width: 100%;
   }
   .img{
    display: none;
   }
   .logo img{
    width: 50%;
   }
}
